<AuHeading>
 Contact
</AuHeading>
<AuCard @expandable={{true}} @flex={{true}} @divided={{true}} as |c|>
  <c.header @badgeSkin="brand" @badgeIcon="users">
    <AuHeading @level="2" @skin="4">
      Title for card
    </AuHeading>
    <p>
      Subtitle for card
    </p>
  </c.header>
  <c.content>
    <p>Information in the card that comes below the header. Content.</p>
  </c.content>
</AuCard>